# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [30]:
import pandas as pd
import numpy as np

In [31]:
# Seu código aqui
anom_term = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
anom_term

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [32]:
# seu código aqui

anom_term = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                     index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
anom_term

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [33]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [34]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_df = pd.DataFrame(arr)
arr_df

             0           1           2
0   115.648602   84.170627  116.471449
1   108.257602   94.884551  101.639278
2   103.129032   98.055052  100.833678
3   100.134727  100.043456  119.837156
4   119.244005   87.069655  100.499488
5    93.488155   99.416525  101.573573
6   102.229202   99.944582  102.646028
7   109.278708   87.955252  117.715958
8    86.965694   87.145947   98.353509
9   105.446555  118.362125  103.486411
10   96.991572   87.246577   75.380328
11   93.218693   95.234572  107.190623
12  113.220519   93.149883   91.996431
13   94.447160   86.238382  114.469608
14   98.500467  112.925837   87.938860
15   98.836278   85.597256   98.867288
16   93.722657  113.845454   94.981773
17  106.178424  101.259171   94.975965
18  108.306232   97.821635   93.220921
19   94.980719  111.715651  107.902797

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [35]:
#seu código aqui
arr_df.index = np.arange(1,21)

arr_df.columns = ["x1", "x2", "x3" ]

arr_df

            x1          x2          x3
1   115.648602   84.170627  116.471449
2   108.257602   94.884551  101.639278
3   103.129032   98.055052  100.833678
4   100.134727  100.043456  119.837156
5   119.244005   87.069655  100.499488
6    93.488155   99.416525  101.573573
7   102.229202   99.944582  102.646028
8   109.278708   87.955252  117.715958
9    86.965694   87.145947   98.353509
10  105.446555  118.362125  103.486411
11   96.991572   87.246577   75.380328
12   93.218693   95.234572  107.190623
13  113.220519   93.149883   91.996431
14   94.447160   86.238382  114.469608
15   98.500467  112.925837   87.938860
16   98.836278   85.597256   98.867288
17   93.722657  113.845454   94.981773
18  106.178424  101.259171   94.975965
19  108.306232   97.821635   93.220921
20   94.980719  111.715651  107.902797

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [36]:
# seu código aqui

arr_df["media"] = (arr_df["x1"] + arr_df["x2"] + arr_df["x3"])/3

arr_df

            x1          x2          x3       media
1   115.648602   84.170627  116.471449  105.430226
2   108.257602   94.884551  101.639278  101.593810
3   103.129032   98.055052  100.833678  100.672587
4   100.134727  100.043456  119.837156  106.671779
5   119.244005   87.069655  100.499488  102.271049
6    93.488155   99.416525  101.573573   98.159418
7   102.229202   99.944582  102.646028  101.606604
8   109.278708   87.955252  117.715958  104.983306
9    86.965694   87.145947   98.353509   90.821717
10  105.446555  118.362125  103.486411  109.098364
11   96.991572   87.246577   75.380328   86.539492
12   93.218693   95.234572  107.190623   98.547963
13  113.220519   93.149883   91.996431   99.455611
14   94.447160   86.238382  114.469608   98.385050
15   98.500467  112.925837   87.938860   99.788388
16   98.836278   85.597256   98.867288   94.433607
17   93.722657  113.845454   94.981773  100.849962
18  106.178424  101.259171   94.975965  100.804520
19  108.306232   97.821635   93.220921   99.782929
20   94.980719  111.715651  107.902797  104.866389

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [37]:
# seu código aqui
arr_df["log_med"] = np.log(arr_df["media"])

arr_df

            x1          x2          x3       media   log_med
1   115.648602   84.170627  116.471449  105.430226  4.658049
2   108.257602   94.884551  101.639278  101.593810  4.620983
3   103.129032   98.055052  100.833678  100.672587  4.611874
4   100.134727  100.043456  119.837156  106.671779  4.669757
5   119.244005   87.069655  100.499488  102.271049  4.627627
6    93.488155   99.416525  101.573573   98.159418  4.586593
7   102.229202   99.944582  102.646028  101.606604  4.621109
8   109.278708   87.955252  117.715958  104.983306  4.653801
9    86.965694   87.145947   98.353509   90.821717  4.508898
10  105.446555  118.362125  103.486411  109.098364  4.692250
11   96.991572   87.246577   75.380328   86.539492  4.460601
12   93.218693   95.234572  107.190623   98.547963  4.590543
13  113.220519   93.149883   91.996431   99.455611  4.599711
14   94.447160   86.238382  114.469608   98.385050  4.588889
15   98.500467  112.925837   87.938860   99.788388  4.603052
16   98.836278   85.597256   98.867288   94.433607  4.547897
17   93.722657  113.845454   94.981773  100.849962  4.613634
18  106.178424  101.259171   94.975965  100.804520  4.613183
19  108.306232   97.821635   93.220921   99.782929  4.602997
20   94.980719  111.715651  107.902797  104.866389  4.652687